名字: Run Python Script

on:
  workflow_dispatch:

jobs:
  run_script:
    runs-on: ubuntu-latest

    steps:
    - 名字: Checkout Repository
      uses: actions/checkout@v2

    - 名字: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - 名字: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # 如果没有 requirements.txt，可以手动安装：
        # pip install requests lxml selenium
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - 名字: Run Python Script
      run: |
        # 确保根目录在搜索路径中
        export PYTHONPATH=$PYTHONPATH:$(pwd)
        # 直接运行脚本，路径会自动由脚本内部的 os.path 逻辑处理
        python Tv_search/search_Tv.py
